.content {
   /*  background-color: var(--main-bg); */
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1 {
    display: flex;
    margin-left: 20%;
    padding-top: 150px;
    padding-bottom: 90px;
    gap: 65px;
}

.section-1a {
    justify-content: center;
}

.section-1b {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 0 30px;
    margin-right: 7px;

    width: 50%;

}

.logo {
    width: 40px;
    height: 30px;
    transform: translateY(25%);
    padding-right: 7px;
}

/* Fsection-1a */
.frame_me {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.frame_me p {
    margin-top: 0;
    margin-bottom: 5px;

}

.photo {
    width: 170px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 50%;
}





/* section-1b */

.presentation_text {
    border-top: 1px solid var(--color-border);
    padding-bottom: 20px;
    text-indent: 1.5em;
}

.tools h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border);

}


.list_tools {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    padding-bottom: 20px;
}

.list-tools h2 {
    border-bottom: 1px solid var(--color-border)
}

.element-tool {
    padding: 5px 10px;
    background-color: var(--color-content);
    border-radius: 5px;

    display: flex;
}

.element-tool:hover {
    background-color: var(--color-border);
    scale: 1.1;
}


/* Frame projets frame principal le détail est dans project.css*/
.section-2 {
    margin-top: 40px;
    padding: 20px 50px;
    width: fit-content;

    border: 1px solid var(--color-border);
    border-radius: 10px;

}



/* frame commentaires */

.section-3 {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 40px;

}

fieldset{
    padding-left: 50px;
    padding-right: 50px;
}


.display_comment {
    min-width: 50%;
    height: fit-content;

    border: 1.5px solid var(--color-border);
    background-color: var(--color-content);
    border-radius: 12px;

    padding:15px 40px;
}

