/* head */



.header{
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    top: 0px;    
    background-color: var(--soft-bg);
    z-index: 5;

    min-width: 100%;
}

.left-header{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
}

.right-header{
    padding:10px 20px;
}
.name{
    display: flex;
    gap:10px
}

.initial{
    background:#646464;
    color:#BBBBBB;
    height: 2.2em;width: 2.2em;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;

    font-weight: bolder;
    font-size-adjust:0.5;

    border:1px solid white;
}



.navBarre{
    display: flex;
    gap:30px;
    margin-left: 20px;
}

/* footer */
.footer{
    background-color: var(--soft-bg);
    height: 50px;

    display: flex;
    align-items: center;
    justify-content:center;
}