.modale {
    width: 200px;
    height: 250px;
    border: 1px solid red;
    background-color: var(--color-content);

    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}


.top-modale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-bg)
}

.top_modale_left {
    width: 100%;
    text-align: center;
}

.close_modale {
    background-color: red;
    color: black;
    padding: 4px 5px;
}

.close_modale:hover {
    cursor: pointer;
}

.content_modale {
    padding: 0 15px;
}


/* project */

.big_modale_project {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    background-color:white;
    
}