.frame-projet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px
}


.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    width: 100%;
}


.cards-project header {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 10px;
    height: fit-content;
}

.cards-project {
    width: 40%;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 20px;
    gap: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 1px 4px 20px 4px rgb(148, 148, 148);
}

.title-project {
    font-size: 1.3em;
}

.img-project {
    width: 100%;
    height: auto;
    border: 2px solid var(--color-border)
}

.presentation-title {
    font-weight: 700;
    font-size: 16px;
}

.cards-project footer {
    border: 1px solid var(--color-border);
    text-align: center;
    border-radius: 8px;
}


.fade-in {
    animation: fadeIn 800ms ease both;
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}