.frame-detail-projet{
    height: 70%;
    width: 30%;
    border:1px solid red;
    background-color: white;

    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);

    cursor: pointer;

    color:black;
    font-weight: 300;

    padding:20px 30px;
}

.image-projet{
    max-width: 100%;
    height: auto;
}