:root{
    --text-color : #dbdbdb;
    --main-bg:#202020;
    --soft-bg:#646464;
    --color-content : #8D8D8D;
    --color-border : #BBBBBB;
    --color-gold : rgb(255, 228, 73);
}



html,
body {
    margin: 0;
    padding: 0;
    color: var(--text-color);

    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.logo{
    width: 2.3em;height: 1.7em;
    transform: translateY(25%);    
    padding-right:7px;
}

a{
    color:var(--color-gold);
    text-decoration: none;
    font-weight: bold;
}

h3{
    text-decoration: underline;
}

.strong{
    font-weight: bolder;
    color:rgb(218, 93, 93);
}

/* checkbox étoile */
.rating {
  direction: rtl; /* Pour gérer la sélection de droite à gauche */
  unicode-bidi: bidi-override;
  font-size: 2.5rem;
  user-select: none;

  display:flex;
  justify-content: end;
}

.rating input[type="radio"] {
  display: none;
}

/* Style des étoiles (labels) */
.rating label {
  color: lightgray;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Les étoiles cochées */
.rating input[type="radio"]:checked ~ label {
  color: gold;
}

/* Hover : colore les étoiles survolées et celles avant */
.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}